[Desktop Entry]
Version=1.0
Type=Link
Name=(276) [LO5] 7.3. Algorithme DPLL - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=WAsmfRgyYNU
